@model List<WebApplication1.ViewModels.UserVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Register" asp-controller="User">add User</a>
</div>

    <div>
        <a class="btn btn-primary mb-1" asp-action="ResetPassword" asp-controller="User"></a>
    </div>