
@model WebApplication1.ViewModels.LoginVM

@{
	Layout = "_LoginLayout";
	ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodePen - A Pen by Mohithpoojary</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="~/css/Login.css">

</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login" method="post" asp-action="Login">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input asp-for="Username" type="text" class="login__input" placeholder="User name / Email">
						<span asp-validation-for="Username" class="text-danger"></span>
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input asp-for="Password" type="password" class="login__input" placeholder="Password">
						<span asp-validation-for="Username" class="text-danger"></span>
					</div>
					<div class=" form-group">
						<div class="custom-control custom-checkbox small">
							<input asp-for="RememberUserPassword" class="custom-control-input" id="customCheck" />
							<label class="custom-control-label" for="customCheck"> Ricorda dati</label>

						</div>

					</div>
					<input type="submit" class="btn btn-primary btn-user btn-block" value="Login"/>
				</form>
				<div class="social-login">
					<h3>log in via</h3>
					<div class="social-icons">
						<a href="#" class="social-login__icon fab fa-instagram"></a>
						<a href="#" class="social-login__icon fab fa-facebook"></a>
						<a href="#" class="social-login__icon fab fa-twitter"></a>
					</div>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
	<!-- partial -->

</body>
</html>


<h1> swagger in my swag</h1>