@model WebApplication1.ViewModels.ResetPassword

@{
    ViewData["title"] = "Reset Password";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Torna indietro</a>
    <div class="card">
    <input type="hidden" asp-for="Id"/>
    <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
        <div class="mb-2">
                <label>UserName</label>
            <input type="text" asp-for="Username" class="form-control" disabled />
                <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label>New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label>Conferma Password</label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        
        <div class="mb-2">
            <button type="submit" class="btn btn-primary w-100">Modifica Password</button>
        </div>
    </form>
</div>
</div>